Project/Project_Aplicacion/Service References/ServiceReference1/webservice.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/webservice" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/webservice" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ClsUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClsUsuario" nillable="true" type="tns:ClsUsuario" />
</xs:schema>