Pryecto1/Interfaces/Service References/ServiceReference1/Web_service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Web_service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Web_service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ClsUsuarioWeb">
    <xs:sequence>
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClsUsuarioWeb" nillable="true" type="tns:ClsUsuarioWeb" />
</xs:schema>